*,
::after,
::before {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
.main_section_body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background: #0e4da4;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h2 {
  font-size: 48px;
  font-weight: 800;
  color: #263238;
}

.main_section {
  max-width: 1400px;
  margin: auto;
  padding: 16px 24px;
}
.main_section .topnav {
  overflow: hidden;
  color: #1bb55c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_section .topnav a {
  float: left;
  display: block;
  color: #1bb55c;
  text-align: center;
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 16px;
  text-shadow: 0px 3px 5px #0000008a;
  position: relative;
  font-weight: 700;
}
.main_section .topnav a:hover {
  color: #ffbb12;
}
.main_section .topnav a.active {
  font-weight: 600;
  color: #ffbb12;
  font-size: 22px;
}
.main_section .topnav a.active::after {
  content: "";
  position: absolute;
  width: 50%;
  background-color: #ffbb12;
  height: 2px;
  display: block;
  left: 25%;
  bottom: 10px;
  text-align: center;
  margin: auto;
}
.main_section .topnav .icon {
  display: none;
}
.main_section .topnav .left_sec {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_section .topnav .right_sec {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_section .topnav .right_sec .contact_us {
  color: #fff;
  background: linear-gradient(45deg, #fd164f, #db03de);
  margin: 10px;
  border-radius: 26px;
  font-size: 16px;
  font-weight: 600;
  font-family: sans-serif;
  text-shadow: none;
}
.main_section .topnav .right_sec .kidPark {
  color: #fff;
  font-size: 30px;
  font-weight: 900;
}
@media screen and (max-width: 768px) {
  .main_section .topnav {
    flex-direction: column-reverse;
  }
  .main_section .topnav .left_sec {
    display: none;
  }
  .main_section .topnav a.icon {
    position: absolute;
    right: 0;
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .main_section .topnav.responsive {
    position: relative;
    display: flex;
    flex-flow: row-reverse;
    align-items: baseline;
  }
  .main_section .topnav.responsive .left_sec {
    flex-flow: column;
    display: flex;
    align-items: center;
    margin-right: 50px;
    background: #1c88f785;
    visibility: visible;
    border-radius: 8px 0 0 8px;
  }
  .main_section .topnav.responsive .right_sec {
    flex-flow: column;
  }
  .main_section .topnav.responsive .icon {
    position: absolute;
    right: 0;
    display: block;
    top: 0px;
    transition: block 5s;
  }
  .main_section .topnav.responsive a {
    display: block;
    text-align: center;
  }
}
.main_section .main_top_banner {
  display: flex;
  justify-content: space-between;
  margin: 100px 24px;
  position: relative;
}
.main_section .main_top_banner .top_left_banner {
  min-width: 50%;
}
.main_section .main_top_banner .top_left_banner .main_title {
  color: #fff;
  font-size: 48px;
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  max-width: 528px;
  line-height: 1.1;
  position: relative;
}
.main_section .main_top_banner .top_left_banner .main_title::after {
  content: "";
  position: absolute;
  background: url(./assets/first.png) no-repeat;
  width: 50px;
  height: 50px;
  display: block;
  top: -39px;
  left: -36px;
}
.main_section .main_top_banner .top_left_banner .sub_dec {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  line-height: 2;
  margin-bottom: 54px;
  max-width: 450px;
}
.main_section .main_top_banner .top_left_banner .get_started {
  color: #fff;
  padding: 12px;
  border-radius: 24px;
  border: 1px solid #ffffff94;
  text-decoration: none;
}
.main_section .main_top_banner .top_right_banner .first_card {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  align-items: flex-start;
}
.main_section .main_top_banner .top_right_banner .first_card .main_image {
  max-width: calc(50% - 40px);
  margin: 20px;
  border-radius: 12px;
}
.main_section .main_top_banner .top_right_banner .first_card .top_card_banner {
  padding: 20px 20px 35px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 0px 5px 5px #df1e892e;
  width: max-content;
}
.main_section .main_top_banner .top_right_banner .first_card .top_card_banner .gradient_card {
  background: linear-gradient(176deg, #ecf0f5, transparent);
  text-align: center;
  padding: 20px 10px;
  border-radius: 8px;
}
.main_section .main_top_banner .top_right_banner .first_card .top_card_banner .gradient_card .counter_ap {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
.main_section .main_top_banner .top_right_banner .first_card .top_card_banner .gradient_card .total_st {
  color: gray;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
.main_section .main_top_banner .top_right_banner .first_card .top_card_banner .gradient_card i {
  color: #e0188b;
}
.main_section .main_top_banner .top_right_banner .first_card .top_card_banner .get_us {
  color: #fff;
  background: #1bb55c;
  margin: 10px;
  border-radius: 26px;
  font-size: 14px;
  font-weight: 600;
  font-family: sans-serif;
  text-shadow: none;
  padding: 10px 25px;
  text-decoration: none;
  box-shadow: 0px 3px 8px 5px #514e4e33;
}
.main_section .main_top_banner .star_war {
  position: absolute;
  font-size: 40px;
  z-index: -1;
  opacity: 0.7;
}
.main_section .main_top_banner .star_war.star {
  right: 50%;
  bottom: 50%;
}
.main_section .main_top_banner .star_war.star i {
  color: #145ec5;
}
.main_section .main_top_banner .star_war.circle {
  top: 0;
  left: 42%;
}
.main_section .main_top_banner .star_war.circle i {
  color: #e0188b;
}
.main_section .main_top_banner .star_war.square {
  left: 25%;
  bottom: 0;
}
.main_section .main_top_banner .star_war.square i {
  color: #fbb937;
}
.main_section .main_top_banner .star_war.cloud {
  right: 0;
  bottom: 0;
}
.main_section .main_top_banner .star_war.cloud i {
  color: #22b562;
}
@media screen and (max-width: 860px) {
  .main_section .main_top_banner .top_left_banner {
    min-width: 37%;
  }
  .main_section .main_top_banner .top_left_banner .main_title {
    font-size: 50px;
  }
  .main_section .main_top_banner .top_left_banner .sub_dec {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .main_section .main_top_banner {
    flex-flow: column;
  }
  .main_section .main_top_banner .top_left_banner {
    text-align: center;
  }
  .main_section .main_top_banner .top_left_banner .main_title {
    font-size: 30px;
  }
  .main_section .main_top_banner .top_left_banner .sub_dec {
    font-size: 14px;
  }
  .main_section .main_top_banner .top_left_banner .main_title,
.main_section .main_top_banner .top_left_banner .sub_dec {
    max-width: inherit;
  }
}
.main_section .section_two {
  height: auto;
  background: url(./assets/cloud.png) no-repeat;
  background-color: #fff;
  margin: 0 -24px -16px;
}
.main_section .section_two .top_sec {
  max-width: 500px;
  margin: auto;
  padding-top: 150px;
  text-align: center;
}
.main_section .section_two .top_sec .desc_clss {
  font-size: 18px;
  color: #999999;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .main_section .section_two .top_sec {
    max-width: 400px;
  }
  .main_section .section_two .top_sec h2 {
    font-size: 34px;
  }
  .main_section .section_two .top_sec .desc_clss {
    font-size: 14px;
  }
}
.main_section .section_two .button_core_value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  margin-top: 60px;
  padding: 0 24px;
}
@media screen and (max-width: 860px) {
  .main_section .section_two .button_core_value {
    display: flex;
    flex-flow: column;
  }
  .main_section .section_two .button_core_value .f_btns {
    margin-bottom: 20px;
  }
}
.main_section .section_two .button_core_value .f_btns {
  padding: 20px 30px 20px 30px;
  border-radius: 48px;
  display: flex;
  align-items: center;
  background: linear-gradient(267deg, #fd164f, #db03de);
}
.main_section .section_two .button_core_value .f_btns svg {
  width: 40px;
  height: 40px;
}
.main_section .section_two .button_core_value .f_btns i {
  font-size: 50px;
  color: #22b562;
}
.main_section .section_two .button_core_value .f_btns .btn_text {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  margin-left: 10px;
  display: inline-block;
  max-width: 150px;
}
.main_section .section_three {
  background: #fff;
  margin: 0 -24px -16px;
}
.main_section .section_three .top_sec {
  max-width: 600px;
  margin: auto;
  padding-top: 150px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .main_section .section_three .top_sec {
    max-width: 400px;
  }
  .main_section .section_three .top_sec h2 {
    font-size: 34px;
  }
}
.main_section .section_three .top_sec .get_us {
  color: #fff;
  background: #1bb55c;
  margin: 10px;
  border-radius: 26px;
  font-size: 18px;
  font-weight: 600;
  font-family: sans-serif;
  text-shadow: none;
  padding: 14px 40px;
  text-decoration: none;
  box-shadow: 0px 3px 8px 5px #514e4e33;
  display: none;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .main_section .section_three .top_sec .get_us {
    display: block;
  }
}
.main_section .section_three .smarty_program {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 24px;
}
@media screen and (max-width: 768px) {
  .main_section .section_three .smarty_program {
    flex-flow: column;
    justify-content: center;
  }
}
.main_section .section_three .smarty_program .card_sec_smarty {
  text-align: center;
  padding: 14px;
  padding-top: 0;
}
@media screen and (max-width: 768px) {
  .main_section .section_three .smarty_program .card_sec_smarty {
    padding: 24px;
  }
}
.main_section .section_three .smarty_program .card_sec_smarty .image_card {
  border: 2px dashed #e64e41;
  border-radius: 24px;
  padding: 24px;
  box-shadow: 0px 0px 5px 10px #e64e411c;
}
.main_section .section_three .smarty_program .card_sec_smarty .image_card .main_image {
  border-radius: 24px;
  max-width: 100%;
}
.main_section .section_three .smarty_program .card_sec_smarty .image_card .subTitle {
  font-size: 21px;
  font-weight: 700;
  color: #333;
  margin-top: 16px;
}
.main_section .section_three .smarty_program .card_sec_smarty .get_us {
  color: #fff;
  background: #1bb55c;
  margin: 10px;
  border-radius: 26px;
  font-size: 18px;
  font-weight: 600;
  font-family: sans-serif;
  text-shadow: none;
  padding: 14px 40px;
  text-decoration: none;
  box-shadow: 0px 3px 8px 5px #514e4e33;
  display: inline-block;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .main_section .section_three .smarty_program .card_sec_smarty .get_us {
    display: none;
  }
}

/*# sourceMappingURL=myStyle.css.map */
